body {
    font-family: 'Open Sans', sans-serif;
}

.light {
    font-weight: 300;
}
.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

.join-us-btn, #join-us:hover {
    background-color: #9ccc3e;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
    padding: 7px 15px;
    margin: 50px auto -20px;
}

/** Hexagon styles */
.hexagon {
    position: relative;
    width: 75px;
    height: 130px;
    margin: 8px auto;
    border-top: solid 5px #fff;
    border-bottom: solid 5px #fff;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 53px;
    height: 52px;
    -webkit-transform: scaleY(1.75) rotate(45deg);
    -ms-transform: scaleY(1.75) rotate(45deg);
    transform: scaleY(1.75) rotate(45deg);
    background-color: inherit;
    top: 34px;
}

.hexagon:before {
    right: -27px;
    border-top: solid 4px #fff;
    border-right: solid 4px #fff;
}

.hexagon:after {
    left: -27px;
    border-bottom: solid 4px #fff;
    border-left: solid 4px #fff;
}

/** Header section */
.section-header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: #192833;
    font-size: 24pt;
    text-transform: uppercase;
    margin: 75px 0 53px;
}
.section-header:after{
    content: '';
    display: block;
    border-bottom: 1px solid #192833;
    height: 1px;
    width: 5%;
    margin: 10px auto 0;
    box-shadow: 1px 1px 1px #192833;
}
/** Header section */
.header {
    background: url('../images/header.jpg') center /cover no-repeat fixed;
}
.header-intro {
    color: #fff;
}
.header-intro h1 {
    font-family: 'Oxygen' sans-serif;
    text-transform: uppercase;
}
.header-intro p {
    font-family: 'Open Sans' sans-serif;
}
.logo-box {
    background: url('../images/logo.png') center no-repeat;
    background-size: auto 100%;
    height: 150px;
    margin: 20px auto;
}

.play-box {
    background: url('../images/play.png') center no-repeat;
    background-size: 100%;
    width: 95px;
    height: 95px;
    margin: 20px auto 50px;
    cursor: pointer;
    -webkit-transition: transform .3s ease-in;-moz-transition: transform .3s ease-in;-ms-transition: transform .3s ease-in;-o-transition: transform .3s ease-in;transition: transform .3s ease-in;
}
.play-box:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.hexagon span {
    color: #fff;
    font-size: 32pt;
    line-height: 120px;
    font-weight: 700;
}

.timer-date {
    color: #fff;
    text-transform: capitalize;
    font-size: 16pt;
    font-weight: 600;
}
/** Experience section */
section.experience .container {
    border-bottom: 1px solid #ebeef0;
}

.experience-banner{
    background: url('../images/experience.jpg') center center no-repeat;
    min-height: 220px;
}
.experience-text {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    color: #1a2833;
    padding: 15px;
}

/** Presenters section */
.presenter-title {
    margin-top: 0;
    font-size: 18pt;
    color: #1a2833;
    font-weight: 600;
    font-family: 'Open Sans';
}
.presenter-location {
    color: #7f8d99;
    font-size: 11pt;
    background: url('../images/location.png') left center no-repeat;
    padding-left: 15px;
    display: block;
    margin: 5px 0 15px;
}
.presenter-text {
    color: #1a2833;
    font-size: 12pt;
}

/** Shedule section */
.shedule-time {
    padding-left: 20px;
    background: url("../images/timer.png") left center no-repeat;
}
.shedule table {
    margin-bottom: 50px;
}
.shedule table,
.shedule table>thead>tr>th,
.shedule table>tbody>tr>td{
    border: 2px solid rgba(127, 127, 127, .5);
}
.shedule-text {
    padding: 0 0 10px;
    font-size: 12pt;
}
/** FAQ section */
.panel-body { border: 0 !important; }
.faq-box .panel {
    border: 2px solid #6d767e;
    border-radius: 2px;
}
.faq-box .panel.active {
    border: 2px solid #9ccc3e;
    border-radius: 2px;
}
.faq-box .panel.active h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid #9ccc3e;
    margin-bottom: -10px;
}
.faq-box .panel h4 a,
.faq-box .panel h4 a:active,
.faq-box .panel h4 a:focus,
.faq-box .panel h4 a:visited,
.faq-box .panel h4 a:hover{
    display: block;
    text-decoration: none;
}
.faq-box .panel-heading {
    background: #fff;
}
.panel h4 .icon {
    display: block;
    width: 13px;
    height: 13px;
}
.panel.active h4 .icon {
    background: url('../images/collapse-true.png') center no-repeat;
}
.panel h4 .icon {
    background: url('../images/collapse-false.png') center no-repeat;
}
/** Event section */
section.event {
    background: url('../images/logistics-bg.png') center center /cover no-repeat;
}
.event-logo {margin: 50px auto 0;}
.event-logo span { line-height: 85px; }
.event-logo span+span {
    font-size: 12pt;
    line-height: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: -5px;
    display: block;
}
.event-header {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.event-location {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 16pt;
}
.event-contacts {
    color: #fff;
    text-align: center;
    margin: 40px 0 0;
    font-size: 12pt;
}
.event-contacts span:nth-child(2) {
    margin: 0 50px;
}
.event-contacts a {
    color: #fff;
}
.event-contacts .glyphicon {margin-right: 5px;}
.event-subscribe {
    margin: 0 0 50px;
}
.event-subscribe button {
    margin-bottom: 0;
}
/** Subscribe section */
.subscribe {
    background-color: #9dcc3e;
    height: 225px;
}
.subscribe .container,
.subscribe .container .row,
.subscribe .container .row > div {
    height: inherit;
    position: relative;
}
.subscribe form {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.subscribe form .form-group {
    width: 33%;
}
.subscribe input {
    height: 50px;
    width: 95%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #b8e561;
    outline: none;
    color: #b8e561;
    padding-left: 15px;
    font-weight: 600;
}
.subscribe input:focus {
    color: #000;
}
.subscribe input::-webkit-input-placeholder {color:#b8e561;}
.subscribe input::-moz-placeholder          {color:#b8e561;}
.subscribe input:-moz-placeholder           {color:#b8e561;}
.subscribe input:-ms-input-placeholder      {color:#b8e561;}

.subscribe .submit-btn {
    background-color: #fd7125;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    font-size: 12pt;
    text-transform: uppercase;
}
/** Share section */
.share-box {
    display: block;
    padding: 0;
    width: 100%;
}
.share-box li {
    display: inline-block;
    width: 45%;
    margin: 0 2%;
}
.share-box li a{
    display: block;
    color: #7d8388;
    font-weight: 600;
    font-size: 12pt;
    width: 100%;
    height: 50px;
    margin: 25px auto;
    border: 2px solid #ebeef0;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
}
.share-box .fa-twitter { color: #4ccaff; margin-right: 3px; }
.share-box .fa-facebook { color: #227fd6; margin-right: 3px; }
.share-box li a:hover {
    border-color: #227fd6;
    color: #227fd6;
    text-decoration: none;
}
/** Footer Section */
footer {
    height: 150px;
    background: url('../images/footer-bg1.png') right bottom no-repeat,
                url('../images/footer-bg2.png') 5% center no-repeat,
                url('../images/footer-bg3.png') 15% bottom no-repeat;
    padding-top: 30px;
    position: relative;
}

.footer-links {
    padding: 0;
}
.copyright {
    padding-left: 110px;
    color: #8d9499;
}
.copyright .dark{
    color: #2c3840;
}

.footer-links li {
    display: inline-block;
    font-size: 12pt;
    font-weight: 600;
    margin-right: 15px;
}
.footer-links li a,
.footer-links li a:visited{
    color: #181d21;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

.command-media-link-box {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
/** Modals section */
.full-screen .modal-dialog {
    width: 100%;
    margin: 0;
}

.modal-content {
    border-radius: 0;
}

#map {
    height: 400px;
}

/** Mobile styles */
@media (max-width: 480px) {
    .logo-box {
        height: 100px;
        margin: 10px auto;
    }
    .play-box {
        height: 70px;
        width: 70px;
    }
    .presenter-photo {
        margin: 15px auto;
    }
    .hexagon {
        width: 30px;
        height: 60px;
    }
    .hexagon:before,.hexagon:after {
        width: 24px;
        height: 24px;
        top: 13px;
    }
    .hexagon:before { right: -13px}
    .hexagon:after { left: -13px}
    .hexagon span {
        line-height: 50px;
        font-size: 14pt;
    }

    .timer-date {
        font-size: 9pt;
    }

    .event-logo {
        width: 60px;
        height: 120px;
    }
    .event-logo:before,.event-logo:after {
        width: 48px;
        height: 48px;
        top: 31px;
    }
    .event-logo:before { right: -24px}
    .event-logo:after { left: -24px}
    .event-logo span {
        color: #fff;
        font-size: 32pt;
        line-height: 70px;
        font-weight: 700;
    }
    .event-logo span+span { margin-left: -5px;}
    .event-contacts span:not(.glyphicon) { display: block;}

    .subscribe form .form-group {
        width: 100%;
    }
    .subscribe .submit-btn {font-size: 9pt;}
    .experience-text {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        font-size: 12pt;
    }
    footer {
        background: none;
    }
    .copyright {
        padding-left: 15px;
    }
    .copyright p span:not(.dark), .footer-links {
        display: block;
        float: none !important;
    }
}